.note {
    position: relative;
    border: 2px solid #000;
    border-radius: 15px;
    padding: 5px;
    height: fit-content;
    max-width: 800px;
    max-height: 500px;
    width: fit-content;
    background-color: #FFFF99;
    background: repeating-linear-gradient(-45deg, #E6E6E6, #E6E6E6 2px, #FFFF99 2px, #FFFF99 25px);
}

.note-header {
    display: flex;
    gap: 5px;
    height: fit-content;
    justify-content: space-a;
}

.note-header__title {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 18px;
    flex: none;
    border-radius: 25px;
    padding: 5px;
    height: fit-content;
    width: fit-content;
    text-align: center;
    display: inline-block;
    background: repeating-linear-gradient(-45deg, #E6E6E6, #E6E6E6 2px, #FFD966 2px, #FFD966 25px);
}

.note-header__date {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 18px;
    flex: none;
    border-radius: 25px;
    padding: 5px;
    height: fit-content;
    width: fit-content;
    text-align: center;
    display: inline-block;
    background: repeating-linear-gradient(-45deg, #E6E6E6, #E6E6E6 2px, #FFD966 2px, #FFD966 25px);
}

.note-header__close {
    margin-left: auto;
    text-align: right;
}

.note-body {
    padding: 7px;
    /* 5px from  note + 2 px from title border */
}

.note-footer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
}

.note-edit {
    height: 20px;
    cursor: pointer;
}